body {
    background-color: #FDF2E4;
}

.text-OldLace {
    color: #FDF2E4;
}

.text-HunterGreen {
    color: #486D4E;
}

.text-White {
    color: #FFFFFF;
}

.text-Cambridge {
    color: #77A780;
}

.text-Jasmine {
    color: #EFD577;
}

.text-Black {
    color: #231F20;
}

.primaryColor {
    background-color: #5C8463;
}

.secondaryColor {
    background-color: #77A780;
}

.tertiaryColor {
    background-color: #EFD577;
}

.border-White {
    border: 1px solid #FFFFFF;
}

.border-Cambridge {
    border: 1px solid #77A780;
}

#products-heading, #offer-heading {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


#popular-products:hover #products-heading {
    opacity: 1;
    visibility: visible;
}

#popular-products:hover #popular-img {
    opacity: 0.5;
}

#offer:hover #offer-heading {
    opacity: 1;
    visibility: visible;
}

#offer:hover #offer-img {
    opacity: 0.5;
}

#start-btn:hover {
    background-color: #FDF2E4;
    border-color: #77A780;
}

#popular-products {
    height: auto;
}

#offer {
    width: auto;
}

#misson {
    width: auto;
}

.product-card {
    width: 240px;
}

.product-card:hover {
    background-color: #77A780;
    border-color: #5C8463;
}

.product-search {
    background-color: #77A780;
    color: #ffffff;
}

.product-card {
    width: 240px;
}

.product-card:hover {
    background-color: #77A780;
    border-color: #5C8463;
}

.product-search {
    background-color: #77A780;
    color: #ffffff;
}

.product-search:hover {
  background-color: #5C8463;
  border-color: #77A780;
  color: #f0f0f0;
}

.compare-card{
    height: 350px;
    width: 250px;
}

.compare-card:hover{
    background-color: #77A780;
    border-color: #486D4E;
    color: white;
}

#compare-heading-card {
    height: 150px;
}

.back-products {
    background-color: #77A780;
    border-color: #5C8463;
}

.back-products:hover {
    background-color: #486D4E;
    border-color: #77A780;
    color: white;
}


.saved-card {
    height: 150px;
}

.saved-card:hover {
    background-color: #77A780;
    border-color: #5C8463;
}

#saved-main {
    width: 740px;
    height: 340px;
}

#saved-header {
    width: 700px;
}

#saved-search {
    width: 100%;
}

#saved-rule {
    border: none;
    border-top: 5px solid #003108;
    color: #486D4E;
    background-color: #003108;
    height: 7px;
    margin: 20px 20px;
}

.account-header {
    background-color: #96d4a2;
}

#delete-btn:hover, #delete-cover:hover {
    border-color: #cb444b;
    background-color: #ffffff;
    color: #cb444b;
}

.account-btn {
    background-color: #5C8463;
    border: none;
}

.account-btn:hover {
    background-color: #77A780;
    border-color: #5C8463;
    color: black;
}

.account-input:focus {
    border-color: #96d4a2;
    box-shadow: 0 0 0 .25rem rgba(168, 237, 181,.25);
}

#newUsernameInput:focus + #currentUserText {
    visibility: visible;
    display: inline;
  }
  
#currentUserText {
    visibility: hidden;
    display: none;
    border: none;
    background: none;
    margin-bottom: 5px;
}

.save-btn:hover {
    background-color: #ffffff;
    color: #cb444b;
    fill: #cb444b;
}

.save-btn:hover .save-label {
    visibility: visible;
    display: inline;
}

.save-label {
    visibility: hidden;
    display: none;
    border: none;
    background: none;
    margin-bottom: 5px;
}

.background-image {
    z-index: -1;
}

.foreground-text {
    z-index: 1;
    white-space: pre-line;
}