body {
    background-color: #FDF2E4;
}

.text-OldLace {
    color: #FDF2E4;
}

.text-HunterGreen {
    color: #486D4E;
}

.text-White {
    color: #FFFFFF;
}

.text-Cambridge {
    color: #77A780;
}

.text-Jasmine {
    color: #EFD577;
}

.text-Black {
    color: #231F20;
}

.primaryColor {
    background-color: #5C8463;
}

.secondaryColor {
    background-color: #77A780;
}

.tertiaryColor {
    background-color: #EFD577;
}

.border-White {
    border: 1px solid #FFFFFF;
}

.border-Cambridge {
    border: 1px solid #77A780;
}

#products-heading {
    visibility: hidden;
}

#popular-products {
    background: url("static/other_images/popular-products.png");
    background-repeat: no-repeat;
    background-size: 500px;
    height: 600px;

}

#offer {
    background-image: url("static/other_images/what-we-offer.png");
    background-repeat: no-repeat;
    background-size: 500px;
    width: 600px;
}

#misson {
    width: auto;
}

.contrast {
    border: 1px solid #231F20;
}

.background-image {
    z-index: -1;
}

.foreground-text {
    z-index: 1;
    white-space: pre-line;
}