<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products - Cheap Carts</title>
    <link rel="icon" href="/static/other_images/temp-logo.png">
    <title>Cheap Carts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/styles.js"></script>
  </head>
  <body>
    {% include "components/navbar.html.jinja"%}
    <h1 class="text-center my-2">Popular Products</h1>

	<main class="container">
      <form class="d-flex my-3 mb-4" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button id="product-search" class="btn secondaryColor" type="submit">Search</button>
      </form>
    
        <h3 class="my-2 mb-3">Product Type</h3>
        <!-- Add for loop when ready -->
        <section class="row flex-nowrap overflow-auto">
            <div class="product-card card mx-2">
            <a href="/compare" class="text-black link-underline link-underline-opacity-0">
                <img src="..." class="card-img-top" alt="Image of ...">
                <div class="card-body">
                    <h5 class="card-title text-center">Product Name</h5>
                </div>
            </a>   
            </div>
        </section>

        <h3 class="my-2 mb-3">Product Type</h3>
        <!-- Add for loop when ready -->
        <section class="row flex-nowrap overflow-auto">
            <div class="product-card card mx-2">
            <a href="/popular-product/..." class="text-black link-underline link-underline-opacity-0">
                <img src="..." class="card-img-top" alt="Image of ...">
                <div class="card-body">
                    <h5 class="card-title text-center">Product Name</h5>
                </div>
            </a>   
            </div>
        </section>
    
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>