<nav class="navbar navbar-expand-lg primaryColor sticky-top fs-5">
  <div class="container-fluid">
    <a class="navbar text-White link-underline link-underline-opacity-0 fs-4" href="/">
      <img src="/static/other_images/CheapCartsLogo.png" alt="Cheap Carts" width="64"  class="d-inline-block align-text-top">
      <p class="mb-1 me-3">Cheap Carts</p>
    </a>

    <script src="/static/styles.js"></script>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-White" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-White" href="/products">Products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-White" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/leftovers">Leftovers</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex me-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn text-White secondaryColor border-White" type="submit">Search</button>
      </form>

      {%if current_user.is_authenticated%}
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hello, {{current_user.username}}!
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/settings">Account</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </div>
      {%else%}
          <form class="d-flex" action="/login">
              <button class="btn tertiaryColor text-Black" type="submit">Log In</button>
          </form>
      {%endif%}

    </div>
  </div>
</nav>